* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	overflow: hidden;
	background: linear-gradient(0deg, #008e9b, #00c9a7);
}

.carousel {
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	height: 600px;
	width: 500px;
	overflow: hidden;
}

img {
	width: 500px;
	height: 500px;
	object-fit: cover;
}

.image-container {
	display: flex;
	transform: translateX(0);
	transition: transform 0.5s ease-in-out;
}

.buttons-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
	gap: 30px;
}

.btn {
	background: transparent;
	color: #000;
	border: 2px solid #fff;
	padding: 15px;
	cursor: pointer;
	transition: 0.2s ease all;
}

.btn i {
	font-size: 20px;
}

.btn:hover {
	background-color: #fff;
}

.btn:focus {
	outline: none;
}
